.manageImagesDiv{
    /* border: 2px solid black; */
    /* width:50vh;
    height:50vh;
    float: left; */
}
.manageImagesDiv img {
    /* width:100%;
    height:100%; */
    /* width:100rm;
    height:100rm; */
}
/* #homePageImages{
    border: 1px solid red;
    max-width: 100%;
    height: cover;
    zoom: 100%;
} */